/* ================= BODY ================= */

body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
}

/* ================= HEADER ================= */

header {
    background-color: #4b3c5d;
    color: white;
    width: 100%;
    height: 150px;
}

.site-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* ================= LOGO ================= */

.site-header img {
    height: 150px; 
    width: auto;
    object-fit: contain;
}

/* ================= NAV ================= */

header nav a {
    color: white;
    text-decoration: none;
    margin-left: 25px;
    font-size: 18px;
    font-weight: 500;
    transition: 0.3s;
}

header nav a:hover {
    color: #faa72a;
}

/* ================ HERO ========== */

.hero {
    position: relative;
    width: 100%;
    height: 83vh;
    overflow: hidden;
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center right;
    display: none;
}

.slide.active {
    display: block;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
}

.content {
    position: absolute;
    bottom: 20%;
    left: 10%;
    color: white;
    max-width: 500px;
}

.content h1 {
    font-size: 3rem;
    margin-bottom: 15px;
}

.content p {
    font-size: 1.2rem;
}

.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: #21203F;
    border: none;
    color: white;
    font-size: 30px;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 50%;
}

.prev {
    left: 20px;
}

.next {
    right: 20px;
}

.dots {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
}

.dots span {
    height: 10px;
    width: 10px;
    margin: 5px;
    background: #7d7bc9;
    display: inline-block;
    border-radius: 50%;
    cursor: pointer;
}

.dots .active {
    background: #5c5aa380;
}

@media (max-width: 768px) {
    .content {
        left: 5%;
        right: 5%;
        text-align: center;
    }

    .content h1 {
        font-size: 2rem;
    }
}
